.App {
  margin: 0 auto;
}
.header-div{
  position: relative;
  padding-bottom:10px;
  top: 0;
  overflow: hidden;
  z-index: 1;
}
.body-div{
  padding-bottom: 30px;
  margin: 0 auto;
  width: 1000px;
}
.footer-div{
  position: fixed;
  bottom: 0;
  background-color: #c9c9c9;
  height: 40px;
  width: 100%;
}